<!doctype html>
<html lang="en">
  <head>
    <title>ioLevi's Hots API</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

    <!-- ioLevi style sheets -->
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">

    <!-- meta for JS MMR  -->
    <meta id='player' data-username="{{ current_user.hotslogs}}">

  </head>
  <body>
  <div id="mynav" class="container-fluid">
            <nav class="navbar navbar-expand navbar-light bg-light">
                <a class="navbar-brand" href={{ url_for('index') }}>IOLEVI HOTS | </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbarNavDropdown" class="navbar-collapse collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href={{ url_for('bans') }}>Bans</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto">

                        <li class="nav-item">
                            {% if current_user.is_anonymous %}
                            <a class="nav-link" href={{ url_for('login') }}>Login</a>
                            {% else %}
                            <!-- <a class="nav-link" href={{ url_for('user', username=current_user.username) }}>{{ current_user.username }}</a> -->
                            <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      {{ current_user.username }}
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href={{ url_for('user', username=current_user.username) }}>Profile</a>
                                        <a class="dropdown-item" href={{ url_for('logout') }}>Logout</a>
                                    </div>
                                </li>
                            {% endif %}
                        </li>

                        {% if current_user.is_anonymous %}
                        <li class="nav-item">
                            <a class="nav-link" href={{ url_for('register') }}>Register</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
        <hr class="my-2">
    </div>

<!-- make this div always visible at the top -->
<div id="stickyheader" class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="/static/icon.png" class="d-inline-block align-top" width="30" height="30" alt="icon"> Charts</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#Supports">Supports</a>
            <a class="nav-item nav-link" href="#Warriors">Warriors</a>
            <a class="nav-item nav-link" href="#Assassins">Assassins</a>
            </div>
        </div>
    </nav>
</div>

<div class="container">
    <div class="container shadow p-3 mb-5 bg-white rounded">
                <h4 id="Supports">Supports</h4>
            <table id="dtsup" class="table table-striped table-bordered table-hover display"> 
                <!-- can add a table-responsive for horizontal scrolling -->
                <!-- can also table table-sm -->
                <caption>Support heroes</caption>
                <thead class='thead-light'>
                    <tr>
                        <th>#</th>
                        <th>Hero Name</th>
                        <th>Win Rate</th>
                        <th>Popularity</th>
                        <th>Games Played</th>
                    </tr>
                </thead>
                <tbody>

                    {% for h in supports %}
                    <tr>
                        <td scope="row">{{ loop.index}}</td>
                        <td>{{ h.heroName }}</td>
                        <td>
                        {{ h.winRate }}%
                        <div class="progress" style="border: 1pt solid slategrey">
                            <div class="progress-bar" role="progressbar" style="width: {{ h.winRate }}%;" aria-valuenow="{{ h.winRate }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        </td>
                        <td>
                        {{ h.participation }}%
                        <div class="progress" style="border: 1pt solid slategrey">
                            <div class="progress-bar" role="progressbar" style="width: {{ h.participation}}%;" aria-valuenow="{{ h.participation }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        </td>

                        <td>{{ h.gamesPlayed }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table> 
            </div>
    <div class="container shadow p-3 mb-5 bg-white rounded">
                <h4 id="Warriors">Warriors</h4>
            <table id="dtwar" class="table table-striped table-bordered table-hover display"> 
                <!-- can add a table-responsive for horizontal scrolling -->
                <!-- can also table table-sm -->
                <caption>Warrior heroes</caption>
                <thead class='thead-light'>
                    <tr>
                        <th>#</th>
                        <th>Hero Name</th>
                        <th>Win Rate</th>
                        <th>Popularity</th>
                        <th>Games Played</th>
                    </tr>
                </thead>
                <tbody>

                    {% for h in warriors %}
                    <tr>
                        <td scope="row">{{ loop.index}}</td>
                        <td>{{ h.heroName }}</td>
                        <td>
                        {{ h.winRate }}%
                        <div class="progress" style="border: 1pt solid slategrey">
                            <div class="progress-bar" role="progressbar" style="width: {{ h.winRate }}%;" aria-valuenow="{{ h.winRate }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        </td>
                        <td>
                        {{ h.participation }}%
                        <div class="progress" style="border: 1pt solid slategrey">
                            <div class="progress-bar" role="progressbar" style="width: {{ h.participation}}%;" aria-valuenow="{{ h.participation }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        </td>

                        <td>{{ h.gamesPlayed }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table> 
            </div>
    <div class="container shadow p-3 mb-5 bg-white rounded">
                <h4 id="Assassins">Assassins</h4>
            <table id="dtass" class="table table-striped table-bordered table-hover display"> 
                <!-- can add a table-responsive for horizontal scrolling -->
                <!-- can also table table-sm -->
                <caption>Assassin heroes</caption>
                <thead class='thead-light'>
                    <tr>
                        <th>#</th>
                        <th>Hero Name</th>
                        <th>Win Rate</th>
                        <th>Popularity</th>
                        <th>Games Played</th>
                    </tr>
                </thead>
                <tbody>

                    {% for h in assassins %}
                    <tr>
                        <td scope="row">{{ loop.index}}</td>
                        <td>{{ h.heroName }}</td>
                        <td>
                        {{ h.winRate }}%
                        <div class="progress" style="border: 1pt solid slategrey">
                            <div class="progress-bar" role="progressbar" style="width: {{ h.winRate }}%;" aria-valuenow="{{ h.winRate }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        </td>
                        <td>
                        {{ h.participation }}%
                        <div class="progress" style="border: 1pt solid slategrey">
                            <div class="progress-bar" role="progressbar" style="width: {{ h.participation}}%;" aria-valuenow="{{ h.participation }}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        </td>

                        <td>{{ h.gamesPlayed }}</td>
                    </tr
                    {% endfor %}
                </tbody>
            </table> 
            </div>
</div>

<footer>
    <div class="container-fluid border-top">
        <div class="row">
            <div class="col-12">
               <a href="api/dev">API</a> 
            </div>
        </div>
    </div>
</footer>

      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script src="/static/datatable.js"></script>
  </body>
</html>